<div class="d-h-100 flex items-center justify-center p-5">
  <mat-card appearance="outlined" class="w-80 p-4 shadow-lg rounded-lg">
    <mat-card-header>
      <mat-card-title>
        Signin
      </mat-card-title>
    </mat-card-header>

    <!-- Add formGroup directive here -->
    <form [formGroup]="userForm">
      <mat-card-content class="flex flex-col space-y-4 mt-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="userName" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" />
        </mat-form-field>
         <mat-form-field appearance="fill" class="w-full">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" />
        </mat-form-field>

        <div class="flex justify-center mt-4">
          <button mat-raised-button color="primary" class="w-40" [disabled]="userForm.invalid">
            Login
          </button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
