.footer {
    background-color: var(--mat-primary); /* Use Angular Material primary color */
    color: white;
    padding: 16px;
    margin-top: auto;
  }
  .max-width{ 
    width: 18%;
  }

  .styles {
    background-color: aqua;
  }
  .font {
    font-size: xx-large;
  }
  .fontS {
    font-size: x-large;
  }